@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../pictures/contact.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}
a:hover {
  cursor: pointer;
}

/*---Navbar and Header---*/
.menu {
  display: inline;
  flex: 100%;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
  flex-wrap: wrap;
  width: auto;
}

.menu ul li {
  flex: 2;
  text-align: center;
  flex-wrap: column;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 39px;
}

.menu ul li a:hover {
  color: #e0d1a1;
}

.active:visited {
  color: #e0d1a1;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

header h2 {
  font-family: "Roboto", sans-serif;
  display: flex;
}
/*---Sticky social bar (inspiration from w3schools)----*/

.socialbar {
  z-index: 1;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.socialbar a {
  display: block;
  text-align: center;
  padding: 20px;
}

.socialbar a:hover {
  background-color: #c6a646 ;
}

.facebook, .instagram, .youtube{
  background-color:#c6a64600 ;
}

.fa {
  color: #fff;
  padding: 10px;
  font-size: 34px;
}

/*---Visual design on page----*/

.logo {
  height: 29px;
  width: auto;
}

/*---Contact form----*/

.contact-container {
  text-align: center;
  margin: auto;
}

.contact-container h1 {
  padding-top: 150px;
  margin: auto;
  color: white;
  font-size: 50px;

}

.form-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 120px;
}

.form-items,
.form-fields {
  padding-top: 0px;
  width: 100%;
}

form {
  background: linear-gradient(#141e30, #00000067);
  padding: 40px;
  margin-bottom: 200px;
  width: 800px;
  max-width: 80%;
}

main {
  position: relative;
}

.astro {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 300px;
}

.missing-warning {
  padding-top: 3px;
  color: white;
  display: none;
  font-size: 20 px;
}

input {
  width: calc(100% - 30px);
  margin-top: 10px;
  padding: 14px;

}

.buttonHolder {
  text-align: center;
}

.button2 {
  background-color: rgb(192, 168, 95);
  padding: 4px;
  font-size: 24px;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

.button2:hover {
  background-color: black;
}

#message {
  height: 100px;
}

#confirmation {
  display: none;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 50px;
}

/*---Footer----*/

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000000;
  color: #ffffff;
  padding: auto;
  letter-spacing: 2px;
  height: 40px;
  font-size: 13px;
}

.footer-text a {
  text-decoration: underline;
  color: #fff;
}

.footer-text a:hover {
  text-decoration: underline;
  color: red;
}
/*-----Smaller Screen-----*/
@media screen and (max-width: 799px) {
  body {
    font-size: 14px;
  }

  header {
    justify-content: center;
    display: table-cell;
    font-size: 10px;
  }
  .contact-container h1 {
    padding-top: 200px;
    font-size: 30px;
  }
  .form-wrap {
    padding-top: 40px;
  }

  .socialbar {
   display: none;
  }

  .astro {
    height: 200px;
  }

  .menu ul li {
    min-width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
  }

  .menu ul li a {
    display: inline;
    font-size: 22px;
    justify-content: center;
    margin-top: 1%;
  }

  .form-wrap h2 {
    text-align: center;
    padding-bottom: 0px;
    font-size: 26px;
  } 

  .form-design {
    padding: 10px 10px;
  }

  .form-error {
    font-size: 14px;
  }

  .button2 {
    padding: 10px;
    margin-top: 5px;
  }

  .footer,
  .footer-text {
    font-size: 10px;
    text-align: center;
    justify-content: space-around;
    width: auto;
    padding: 20px;
    flex-direction: table-cell;
    flex-wrap: row;
  }
}